/* CSS declarations go here */

.active {
  background: rgba(255,255,255,0.1);
  border: solid 2px;
  border-color: #1b2638;
  color: rgba(1,1,1,0.2);
  float: left;
  opacity: .8;
  padding: 2.5em;
  text-align: center;
}

body {
  /*background-image: url("http://geodavephotography.com/images/blur-wallpaper/38164497-blur-wallpaper.jpg");*/
  /*background-image: url("https://i.imgur.com/JQDQKos.jpg");*/
  /*background-image: url("https://cdn.wallpapersafari.com/65/39/0NxcDA.jpg");*/
  /*background-image: linear-gradient(to bottom, #5162ff, #040042 100%);*/
  /*background-image: url("http://www.ilikewallpaper.net/ipad-air-wallpapers/download/25838/Ocean-Art-Peace-Blue-Gradation-Blur-ipad-air-wallpaper-ilikewallpaper_com.jpg");*/
  background-image: url("https://i.imgur.com/d0xGaei.jpg");

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.button {
  background-color: rgba(255,255,255,0.65);
  color: black;
  display: inline-block;
  font-family: geneva;
  padding: 1em 0;
  margin: 0 20px;
  width: 10em;
  text-align: center;
  
}

.cal-container {
  transform: translate(21%);
  /*max-width: 600px;*/
  /*margin: 0 auto;*/
  /*min-height: 100%;*/
  /*background: white;*/
}

.days {
  /*background: #e5efff;*/
  background: rgba(255,255,255,0.45);
  border: solid 2px;
  color: #1b2638;
  float: left;
  font-size: 1em;
  padding: 2.5em;
  text-align: center;
}

.newline {
  white-space: pre-wrap;
}

header {
  background: #d2edf4;
  background-image: linear-gradient(to bottom, #d0edf5, #e1e5f0 100%);
  padding: 20px 15px 15px 15px;
  position: relative;
}

#login-buttons {
  display: block;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  margin-bottom: 10px;
  display: inline-block;
  margin-right: 1em;
}


form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.delete {
  float: right;
  font-weight: bold;
  background: none;
  font-size: 1em;
  border: none;
  position: relative;
}

li {
  font-size: 15px;
  display: inline;
  position: relative;
  list-style: none;
  padding-left: 20px;
  /*padding: 15px;*/
  border-bottom: #eee solid 1px;
}

li .text {
  margin-left: 10px;
}

li.checked {
  color: #888;
}

li.checked .text {
  text-decoration: line-through;
}

li.private {
  background: #eee;
  border-color: #ddd;
}

header .hide-completed {
  float: right;
}